<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wbnull.hellotlj.mysql.mapper.UserinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wbnull.hellotlj.entity.Userinfo">
        <id column="userId" property="userId" />
        <result column="nickname" property="nickname" />
        <result column="score" property="score" />
        <result column="winNum" property="winNum" />
        <result column="failNum" property="failNum" />
        <result column="dogfallNum" property="dogfallNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, nickname, score, winNum, failNum, dogfallNum
    </sql>

</mapper>
